
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family:'vazir';
    src: url('../../font/Vazir.ttf');
}
html{
    direction: rtl;
    scroll-behavior: smooth;
}
body{
    background: $bgColor;
    color: $textColor;
    font-family: 'vazir';
}
ul{
    padding-left: 0;
    list-style-type: none;
}
input,button,textarea{
    outline:none ;
}

a{
    text-decoration: none;
    color: initial;
}
img{
    width: 100%;
}